.background {
  background: url(https://i.pinimg.com/736x/ff/6c/e2/ff6ce26c10d0598a45199a73e8ff3bfa--dashboard-ui-web-application.jpg) repeat;
  border: 2px solid black;
}

 .transbox {
  margin: 22px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.transbox z {
  margin: 7%;
  font-weight: bold;
  color: #000000;
}
  