body {
    font-family: sans-serif;
    background-color: #176587;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    color:#EF6713;
    font-size: 300%;
    border-width:thick;
    border-color:#FFFF00;
    border-style:ridge;
}

.bold {
    font-weight: bolder;
}

.img-medium {
    height:300px;
}

