body{
    background-color: lightgrey;
}

.container {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    width: 80%;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

