body{
    background-color: lightgrey;
     padding: 0 20px;
}

.container {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 80%;
    
}

.heading{
    color: #f45f42;
}

.date{
    color: #4286f4;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

