body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}