h{
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
    text-align:center;
    text-decoration:underline;
}
p{
    font-weight:bold;
}
footer{
    font-size: 300%;
}




